body {
    text-align: center;
    font-family: 'Lumanosimo', cursive;
    background: #fefae0;
    color: #6d6875;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 250px;
    border-radius: 50%;
    border: 6px solid #e6beae;
    margin-bottom: 10px;
}

#bday-age {
    background: #e6beae;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #e6beae;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid gray;
    border-radius: 10px;
    background-image: url("https://media.giphy.com/media/IEatyAUV9VrsBFo9gu/giphy.gif");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/MVDPX3gaKFPuo/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/ZGBQhaRTHyWtRVn1Xx/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/26k5ezVqD45jUKiMDI/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/70YaDoZ1VqBZ8SgYiz/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/8FSLToSf4kVYPR8RLS/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/